# Built artifacts
build/
app/build/
.gradle/

# Local configuration
local.properties
.idea/
*.iml
*.iws
*.ipr

# Other
captures/
.externalNativeBuild/
.cxx/
.DS_Store
*.keystore

# Keep gradle wrapper
!/gradle/wrapper/gradle-wrapper.jar
